Header{
    text-align: center;
    font-size: xx-large;
     }

.auto-style2{
    text-align: left;
    font-size: x-large;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

.auto-style3{
    color:black;
}
p{
    text-align: center;
}

footer{
    background-color: azure;
}
body{
    background-image: url(images/woman.jpg);
}





